/regular/09-06/node_modules
/node_modules
/package-lock.json
/regular/10-06/node_modules
/regular/10-06/package-lock.json
/regular/09-06/package-lock.json
/regular/10-06/package.json
/.vscode
/regular/jiet-react