h1{
   font-size: 40px;
   color: blue;
   text-align: center;
}

p{
    font-size: 25px;
    color: rgb(204, 40, 40);
    text-align: center;
}

@media screen and (max-width: 700px) {
    body{
        background-color: burlywood;
    }
}


@media screen and (min-width: 700px){
    p{
        background-color: aqua;
    }
}

